/* CSS 样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
}

header {
    /* 去掉网页标题 */
    display: none;
}

#tags{
    max-height: 100%; /* 设置容器最大高度 */
    display: flex;
    flex-wrap: wrap; /* 允许标签换行 */
    justify-content: center; /* 水平居中 */
    margin-top: 0px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.tag,date,author{
    margin: 5px;
    padding: 5px;
    background-color: #3498db;
    color: #fff;
    font-size: small;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent; /* 添加边框 */
    transition: background-color 0.3s, border-color 0.3s; /* 添加过渡效果 */
    display: inline;
}

div.document-item > div.title{
    color: #0d0d0d;
    font-size: medium;
    display：inline-block;
    font-family: auto;
}

.tag:hover {
    background-color: #2980b9; /* 鼠标悬停时的背景色 */
}

.tag.selected {
    background-color: #2980b9; /* 选中时的背景色 */
    border-color: #fff; /* 选中时的边框颜色 */
}

.documents {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.document-list {
    width: 35%;
    max-height: 1000px;
    overflow-y: auto;
}

.document-item {
    padding: 10px;
    cursor: pointer;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
    display：inline-block;
}

.document-item:hover {
    background-color: #ddd;
}

.preview {
    width: 65%;
    padding-left: 20px;
}

.preview iframe {
    width: 100%;
    height: 1000px;
    border: none;
}
